.enemy-container {
    float: right;
    margin-top: 2%;
    margin-left: 2%;
    margin-bottom: 2%;
    min-width: 25%;
}

.player-container {
    float: left;
    margin-top: 2%;
    margin-right: 2%;
    margin-bottom: 2%;
    min-width: 70%;
}

#choices {
    min-width: 40%;
    min-width: 20em;
}

.info-container {
    float: left;
    margin-left: 2%;
    min-width: 20em;
}

.stats-container {
    margin-right: 1%;
}

.roll-container {
    float: left;
    min-width: 30em;
}

.player-spell-block {
    display: inline-flex;
    margin-bottom: 2%;
}

.player-choice-block {
    display: flex;
    margin-bottom: 2%;
}

.player-health {
    width: 80%;
}

.nes-container {
    margin-top: 2% !important;
}